In [6]:
#Types of Operator
->Arithmetic Operator
->Comparison Operator
->Assignment Operator
->Arithmetic Operator
->Membership Operator
->Identity Operator

SyntaxError: invalid syntax (<ipython-input-6-f62cc620ad21>, line 2)

In [7]:
#  // floor division
#  ** power
#  % modulus

SyntaxError: invalid syntax (<ipython-input-7-5f4044571578>, line 1)

In [8]:
5+7

12

In [9]:
5+7.5

12.5

In [10]:
"abc" + "xyz"

'abcxyz'

In [11]:
['1','2'] + ['A', 'B']

['1', '2', 'A', 'B']

In [12]:
('1','2') + ('A', 'B')

('1', '2', 'A', 'B')

In [13]:
{'1','2'} + {'A', 'B'}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [17]:
{'1': "2",'2': "2"} + {'A': "B", 'B': "Y"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

22-7

In [18]:
22-7

15

In [19]:
3*2

6

In [20]:
{3,7,8}-{2,3,8}

{7}

[3,7,8] - [2,3,8]

In [22]:
2**3

8

In [23]:
12/3

4.0

In [24]:
12/3.0

4.0

In [25]:
12//3

4

In [26]:
12%3

0

In [27]:
11%3

2

In [28]:
18%5

3

# Comparsion Operators

==
>
<
>=
<=
!=  Not Equal
<>  #Not Equal

In [30]:
"Qasim" == "qasim"

False

In [32]:
2 ==2.0

True

In [33]:
a=2
b=2
a==b

True

In [37]:
chr(48)

'0'

In [38]:
chr(66) > chr(65)

True

In [39]:
ord('A')

65

In [40]:
ord('0')

48

In [41]:
#MemberShip Operator

In [42]:
names = ['Qasim', 'Hamza', 'Junaid', 'Abid']
for name in names:
    if(name=="Qasim"):
        print(True)

True

In [43]:
"Qasim" in names

True

In [44]:
"Ali" not in names

True

In [45]:
a = input()
"Pakistan" in a               #in is short for for each or filter

I live in Pakistan

True

#Identity Operator

In [46]:
#Control Flow
#if else elif

In [47]:
if True:
    print("Pakistan")
else:
    print("Zindaabad")

Pakistan

In [48]:
if True:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zindaabad")

Pakistan
Pakistan
Pakistan
Pakistan

In [49]:
#Comprehensive

In [50]:
"Pakistan" if True else "Zindabad"

'Pakistan'

In [51]:
"Pakistan" if False else "Zindabad"

'Zindabad'